@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    font-family: "Poppins", sans-serif !important;
}
.banner-top{
    z-index: -20;
}
.bg-enroll{
    background-image: url(../assets/durationbg.jpg);
    background-size: cover;
    background-position: center;
}
.bg-context{
    background-image: url(../assets/context-bg.png);
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    min-height: 546px;
    height: 100%;
}
.testimonial{
    overflow-x: scroll;
    
}
.testimonial::-webkit-scrollbar{
    display: none;
}


    .testimonial_items{
        flex-basis: 33.3%;
        cursor: pointer;
        height: 100%;
        background-color: white;
    }

@media (max-width:768px){
    .testimonial_items{
        flex-basis: 48%;
        cursor: pointer;
       
    }
    .bg-context{
        background-image: none;
    }
}
@media (max-width:425px){
    .testimonial_items{
        flex-basis: 97% ;
        cursor: pointer;
        margin: 0 10px;
       
    }
}